﻿<li>
    <div class="sidenav-header orange">
        <!--<div class="nav-social">
          <i class="ion-social-facebook"></i>
          <i class="ion-social-twitter"></i>
          <i class="ion-social-tumblr"></i>
        </div>-->
        <div class="nav-avatar">
            <img class="circle avatar iknow-user-image" src="img/icon-user-default.png" alt="">
            <div class="avatar-body">
                <h4 id="menuDriverName" style="color:White;"></h4> <p id="menuVehicleRegNo"></p>
            </div>
        </div>
    </div>
</li>



<li>
    <a onclick="window.location.href = 'dashboard.html'" class="no-child"><i class="ion-android-home"></i> Home</a>
</li>

<li>
    <a onclick="window.location.href = 'pickdrop.html?type=Pickup'" class="no-child"><i class="ion-person-add"></i>Pickup</a>
</li>
<li>
    <a onclick="window.location.href = 'pickdrop.html?type=Drop'" href="#" class="no-child"><i class="ion-android-walk"></i>Drop</a>
</li>
<li>
    <a onclick="logoutsystem();" href="#" class="no-child"><i class="ion-log-out"></i> Logout</a>
</li>
