﻿<%@ master language="C#" autoeventwireup="true" inherits="Site, App_Web_kjb23id0" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">    
 <meta charset="utf-8">
    <title>MIS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Pradeep Lodhi">

    <!-- The styles -->
    <link href="css/bootstrap-cerulean.min.css" rel="stylesheet">

    <link href="css/charisma-app.css" rel="stylesheet">
    <link href='bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='css/jquery.noty.css' rel='stylesheet'>
    <link href='css/noty_theme_default.css' rel='stylesheet'>
    <link href='css/elfinder.min.css' rel='stylesheet'>
    <link href='css/elfinder.theme.css' rel='stylesheet'>
    <link href='css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='css/uploadify.css' rel='stylesheet'>
    <link href='css/animate.min.css' rel='stylesheet'>

    <!-- jQuery -->
    <script src="bower_components/jquery/jquery.min.js"></script>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="img/favicon.ico">

    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <!-- topbar starts -->
    <asp:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
    </asp:ToolkitScriptManager>
    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
            <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!"> <img alt="Magadham Logo" src="img/logo20.png" class="hidden-xs"/>
                <span>MIS</span></a>

            <!-- user dropdown starts -->
            <div class="btn-group pull-right">
            <span class="btn btn-default" style="margin-right: 5px;">
                    <i class="glyphicon glyphicon-calendar"></i><span class="hidden-sm hidden-xs"> Academic Session 
        <asp:Label ID="lblSessionName" runat="server" Text=""></asp:Label></span>
                </span>
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> 
            <asp:Label ID="lblUserDisplayName" runat="server" Text=""></asp:Label></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <%--<li class="divider"></li>--%>
                    <li><a href="Logout.aspx">Logout</a></li>
                </ul>
            </div>
            <!-- user dropdown ends -->

            
        </div>
    </div>
    <!-- topbar ends -->
<div class="ch-container">
    <div class="row">
        
        <!-- left menu starts -->
        <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">Main</li>
                        
                        <li><a class="ajax-link" href="Dashboard.aspx"><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
                        </li>
                         <li class="accordion">
                            <a href="#"><i class="glyphicon glyphicon-plus"></i><span> Master</span></a>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="ClassMaster.aspx">Class</a></li>
                                <li><a href="SectionMaster.aspx">Section</a></li>
                                <li><a href="DriverMaster.aspx">Driver</a></li>
                                <li><a href="VehicleMaster.aspx">Vehicle</a></li>
                                <li><a href="RouteMaster.aspx">Route</a></li>
                                <li><a href="ShiftMaster.aspx">Shift</a></li>
                                <li><a href="ShiftRoutMapping.aspx">Shift-Route Mapping</a></li>

                            </ul>
                        </li>
                       
                 <li><a class="ajax-link" href="StudentMaster.aspx"><i
                                    class="glyphicon glyphicon-arrow-right"></i><span> Student Master</span></a></li>
                 <li><a class="ajax-link" href="StudentMasterDetail.aspx"><i
                                    class="glyphicon glyphicon-arrow-right"></i><span> Student Detail</span></a></li>
              <li><a class="ajax-link" href="PickpSequence.aspx"><i
                                    class="glyphicon glyphicon-arrow-right"></i><span> Pickup Sequence</span></a></li>
                                     <li><a class="ajax-link" href="SendSmsToParent.aspx"><i
                                    class="glyphicon glyphicon-arrow-right"></i><span> Send SMS</span></a></li>
                         <li class="accordion">
                            <a href="#"><i class="glyphicon glyphicon-plus"></i><span> Reports</span></a>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="Report_Attendance.aspx">Attendance Report</a></li>
                                <li><a href="Report_Student_RouteWise.aspx">Student RouteWise</a></li>
                                <li><a href="VehicleTxnDetail.aspx">Pickup/Drop Report</a></li>

                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <!--/span-->
        <!-- left menu ends -->

        <noscript>
            <div class="alert alert-block col-md-12">
                <h4 class="alert-heading">Warning!</h4>

                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

         <div id="content" class="col-lg-10 col-sm-10" style="min-height:500px;">
        <asp:ContentPlaceHolder id="cph" runat="server">
        

        </asp:ContentPlaceHolder>
        </div>
     <!--/#content.col-md-0-->
</div><!--/fluid-row-->


    <hr>

   
    <footer class="row">
        <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="#!" target="_blank">Magadham International School</a> 2017 - 2018</p>

        <p class="col-md-3 col-sm-3 col-xs-12 powered-by">Powered by: <a
                href="http://domain.loginsoftware.in" target="_blank">Login Softwares</a></p>
    </footer>

</div><!--/.fluid-container-->

<!-- external javascript -->

<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- library for cookie management -->
<script src="js/jquery.cookie.js"></script>
<script src='js/jquery.dataTables.min.js'></script>

<!-- plugin for gallery image view -->
<script src="bower_components/colorbox/jquery.colorbox-min.js"></script>
<!-- notification plugin -->
<script src="js/jquery.noty.js"></script>
<!-- library for making tables responsive -->
<script src="bower_components/responsive-tables/responsive-tables.js"></script>
<!-- star rating plugin -->
<script src="js/jquery.raty.min.js"></script>
<!-- for iOS style toggle switch -->
<script src="js/jquery.iphone.toggle.js"></script>
<!-- autogrowing textarea plugin -->
<script src="js/jquery.autogrow-textarea.js"></script>
<!-- multiple file upload plugin -->
<script src="js/jquery.uploadify-3.1.min.js"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="js/jquery.history.js"></script>
<!-- application script for Charisma demo -->
<script src="js/charisma.js"></script>


    </form>
</body>
</html>
